@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=Crimson+Text:ital@1&family=Oswald&display=swap');

* {
    font-family: Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgb(169, 238, 243), rgb(183, 157, 255));
    background-repeat:repeat;
    height: 100dvh;
}

/*cabecalho*/
body, header, main, section, form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

main {
    width: fit-content;
    margin: auto;
}

/*paragrafos*/
p {
    display: inline-block;
    width: fit-content;
    margin-bottom: 200px;
    font-family:"Crimson Text";
}

/*qualquer titulo*/
/* h2, h3, h4 {
    margin: 0 0 10px 0;
    margin-bottom: 250px;
} */

.esqueci {
    width: 100%;
    margin-bottom: 30px;
}

/*logo*/
img {
    width: 150px;
    height: 150px;
    margin-top: 50px;
}


/* formularios
form {
    margin-top:70px;
} */


/*textos acima das caixas*/
form label {
    display: block;
    width: fit-content;
    padding: 3px 7px;
    margin-bottom: 0;
}

/*caixa*/
input[type=text], input[type=email], input[type=password] {
    display: block;
    width: 100%;
    padding: 5px 15px;
    margin: 8px 0;
    border: 1px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
}

/*botoes*/
button {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    color: whitesmoke;
    background-color:#9F9BDA;
    padding: 8px 20px;
    margin: 5px 0;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
}

/*cursor botao*/
button:hover, button:focus {
    background-color:#6495ED;
}

.nomeapp{
    margin-top: 80px;
    margin-bottom: 20px;
    font-family: "Archivo Black";
    color: #7242a8;
}
