/* configura conjunto de caracteres deste arquivo css */
@charset "UTF-8";
/* importa fonte do google */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


/* aplica os estilos abaixo em todos os elementos */
* {
    font-family: Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* aplica cor de fundo na tela inteira e repete caso precise */
body{
    background-image: linear-gradient(rgb(169, 238, 243), rgb(183, 157, 255));
    background-repeat:repeat;
}

/* display flexível na div que envolve todo o site,
no cabeçalho e na section dentro do bloco main */
div.container, header, section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

/* aplica uma altura igual a tela do dispositivo através
da div que envolve o site inteiro */
.container {
    height: 100dvh;
}

/* retira altura igual a tela do dispositivo (apenas no
saiba-mais.html) da div envelope, pois neste arquivo tem
muito conteúdo */
div.saiba-mais {
    height: auto;
}

/* espaçamento entre as elementos do cabeçalho e da section
dentro do bloco main */
header, section {
    row-gap: 15px;
}

/* largura bloco header e bloco main */
header, main {
    width: 70%;
}

/*paragrafos*/
p {
    display: inline-block;
    width: fit-content;
    margin: 0;
    font-family:"Crimson Text";
}

/* largura botão de recuperação de senha (é um <a>) */
.esqueci-senha {
    width: 100%;
}

/* configura largura e altua do logo do produto */
.logo {
    width: 150px;
    height: 150px;
}


/* posicionamento e espaçamento no formulário de login */
.form-login {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}


/* textos acima das caixas de inserção de dados */
form label {
    display: block;
    width: fit-content;
}

/* caixas de inserção de dados */
input[type=text], input[type=email], input[type=password] {
    display: block;
    width: 100%;
    border: 1px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
}

/* botões */
button {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    color: whitesmoke;
    background-color:#9F9BDA;
    border: none;
    border-radius: 10px;
}

/* cursor sobre os botões */
button:hover, button:focus {
    background-color:#6495ED;
}

/* estilos do nome do app (h3) */
.nomeapp{
    margin: 0;
    font-family: "Archivo Black";
    color: #7242a8;
}

/* =====
REMOVE MARCAÇÃO NO RODAPÉ COLOCADO PELO PRÓPIO SITE 
==== */
a[href="https://www.000webhost.com/?utm_source=000webhostapp&utm_campaign=000_logo&utm_medium=website&utm_content=footer_img"] {
    display: none;
}
/* ====== */
